html, body {
    margin : 0;
    padding : 0;
    width : 60vw;
    margin-left : 10vw;
    height : 200vh;
}

.container-1 {
    border : 2px solid hotpink;
    padding : 30px;
    position : absolute;
}

p {
    border : 2px solid #184fad;
    background-color: rgba(81, 132, 219, .60);
}

.positioned {
    position : sticky;
    top : 100px;
    left : 10px;
    background-color: rgba(237, 237, 43, .60);
}

div:nth-of-type(2) {
    margin-top : 400px;
}